<form action="/create" method="post">
    <h2> Create page </h2>

    <div class="input_field">
        <input type="text" name="title">
        <label for="">Todo title</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>